/* Common names/tags */

.nav {
  display: flex;
  column-gap: 50px;
}

a {
  text-decoration: none;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
  width: 100%;
}

.table thead {
  background-color: #f1f1f1;
  padding: 10px 14px;
}

.table-data {
  text-align: center;
}

/* Main Body CSS */

.main-body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Left Bar CSS */

.left-bar {
  border: 1px solid;
  border-radius: 5px;
}

/* Mid Bar CSS */

.mid-bar {
  border: 1px solid;
  border-radius: 5px;
  flex-grow: 3;
}

/* Right Bar CSS */

.right-bar {
  border: 1px solid;
  border-radius: 5px;
  flex-grow: 2;
}

/* Header CSS */

.whole-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.select-box {
  height: 30px;
}

/* Team Cards CSS */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid;
  padding: 10px;
}

/* Links CSS */

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid;
  padding: 10px;
}

/* Recent Result CSS */

.results {
  display: flex;
  column-gap: 7px;
  justify-content: center;
  padding: 10px;
}

.rounded-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

/* Team Header CSS */

.team-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  padding: 10px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.rec-form {
  display: flex;
  column-gap: 15px;
}

/* Key Stats CSS */

.stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid;
  padding: 10px;
}

.stats div {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}

/* Fixture List CSS */

.fixture-table {
  display: flex;
  justify-content: center;
}

/* Table standing CSS */

.standing-table {
  display: flex;
  justify-content: center;
}

/* Footer CSS */

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}